/*** header ***/
header {
  padding: 30px 20px 0 20px;
}
.top-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.top-info .user {
  display: flex;
  justify-content: space-between;
}
.top-info .user .profile-img {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  overflow: hidden;
  margin-right: 12px;
}
.top-info .user li:last-child {
  padding-top: 5px;
}
.top-info .user li h1 {
  font-size: 24px;
}
.top-info .user li p {
  font-size: 18px;
  color: #9a9a9a;
}
.top-info .top-icons a {
  display: inline-block;
}
.top-info .top-icons a i {
  color: #9a9a9a;
  font-size: 32px;
  margin-left: 4px;
  position: relative;
}
.top-info .top-icons a i.active::after {
  content: "2";
  width: 20px;
  height: 20px;
  line-height: 18px;
  font-size: 14px;
  border-radius: 50px;
  background-color: #4067f6;
  color: #fff;
  padding-left: 6px;
  box-sizing: border-box;
  position: absolute;
  left: 14px;
  top: -2px;
}
.search-box {
  position: relative;
}
.search-box input {
  width: 100%;
  height: 45px;
  padding: 0 20px;
  border-radius: 50px;
  background-color: #f5f5fa;
  border: none;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
  font-size: 18px;
}
.search-box input::placeholder {
  color: #a1a1a1;
}
.search-box span {
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
}

/*** section : recommend-study ***/
.section-title {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}
.section-title h2 {
  font-size: 22px;
  margin-bottom: 20px;
}
.section-title a i {
  font-size: 24px;
}
/* 슬라이더 */
.slider {
  margin-left: 20px;
  width: calc(100%-20px);
  overflow: hidden;
  position: relative;
  height: 300px;
}
.slider ul {
  position: absolute;
  left: 0;
  top: 0;
  width: 780px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  height: 100%;
  pointer-events: none;
}
.slider ul li {
  height: 100%;
}
.slider ul li span.study-like,
.slider ul li a {
  pointer-events: all;
}
/* 슬라이더 end */
.study-card-imgbox {
  width: 180px;
  height: 180px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  background-color: #000;
}
.study-card-imgbox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.75;
}
.study-card .study-like::before {
  position: absolute;
  right: 10px;
  bottom: 6px;
  color: #fff;
  font-size: 22px;
  padding: 5px;
}
.study-like::before {
  font-family: 'xeicon';
  content: '\ea11';
}
.study-like.active::before {
  content: '\ea10';
}
.study-card h3 {
  font-size: 18px;
  margin: 8px 0 4px;
}
.study-info-p {
  font-size: 14px;
  color: #9a9a9a;
  line-height: 1.5em;
}
.study-info-p::before {
  font-family: 'xeicon';
  font-size: 16px;
  vertical-align: middle;
  margin-right: 2px;
}
.participants::before {
  content: '\e9f5';
}
.study-location::before {
  content: '\eb59';
}
.study-card-tag {
  font-size: 14px;
  color:#4067f6;
  border: 1px solid #4067f6;
  border-radius: 50px;
  padding: 2px 12px;
  display: inline-block;
  margin-top: 4px;
}

/*** section : topic-study ***/
.category-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 20px;
}
.category-container li {
  text-align: center;
}
.category-container li a {
  display: inline-block;
}
.category-container li p {
  width: 70px;
  height: 70px;
  margin: auto;
  background-color: #f5f5fA;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.category-container li span {
  display: inline-block;
  margin: 12px 0;
}

/*** section : location-study ***/
.location-study {
  padding: 0 20px;
}
.location-study .section-title {
  padding: 0;
}
.location-study select {
  border-color: #dfdfdf;
  padding: 0 42px 0 16px;
  font-size: 16px;
  height: 36px;
  -webkit-appearance: none;
  appearance: none;
  background: url(./../images/select-icon.png) no-repeat center right 16px;
}
.location-study ul li {
  display: flex;
  line-height: 1.1em;
  position: relative;
  padding: 20px 0;
  border-bottom: 1px solid #dfdfdf;
}
.location-study ul li:last-child {
  border-bottom: none;
}
.location-study ul li div:nth-child(1) {
  width: 86px;
  height: 86px;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 20px;
}
.location-study ul li div:nth-child(1) img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}
.location-study ul li div:nth-child(2) {
  width: calc(100% - 106px);
}
.location-study ul li div:nth-child(2) a {
  display: block;
}
.location-study h4 {
  font-size: 16px;
  margin-bottom: 4px;
}
.study-list-tag {
  color: #666;
  font-size: 14px;
}
.location-study ul li .study-like {
  position: absolute;
  right: 0;
  bottom: 20px;
  font-size: 18px;
  color: #e50000;
  padding: 10px;
}
.location-study > a {
  display: inline-block;
  width: 100%;
  border: 1px solid #dfdfdf;
  background-color: #f5f5fa;
  text-align: center;
  font-size: 15px;
  padding: 8px;
  color: #4067f6;
  border-radius: 10px;
  margin: 8px 0 100px;
}

/*** foot fix nav ***/
nav {
  width: 100%;
  max-width: 550px;
  height: 70px;
  background-color: #fff;
  border-top: 1px solid #dfdfdf;
  position: fixed;
  bottom: 0;
  font-size: 16px;
}
nav ul {
  display: flex;
  justify-content: space-around;
}
nav ul li {
  width: 20%;
  text-align: center;
  padding-top: 6px;
}
nav ul li a {
  display: block;
  width: 80%;
}
nav ul li a.active {
  color: #4067f6;
}
nav i {
  font-size: 24px;
  padding-top: 2px;
}