/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.5em;
  margin: 0;
  font-weight: 300;
  height: 100vh;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  font-size: 0%;
}
header a {
  display: inline-block;
  font-size: 16px;
  width: 25%;
  text-align: center;
  color: #fff;
  background-color: rgb(23, 0, 235);
  border-right: 1px solid #fff;
  box-sizing: border-box;
  padding: 10px;
}

article {
  padding: 15px 25px;
}

article a.btn-gototop {
  display: inline-block;
  color: rgb(221, 0, 59);
  border: 1px solid rgb(221, 0, 59);
  padding: 5px 25px;
  border-radius: 50px;
}

html {
  scroll-behavior: smooth;
}