/* Google Web Font : Noto Sans KR */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');

/* Reset & Defaul CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #222;
}
body {
  width: 100%;
  height: 100vh;
  padding-top: 200px;
  line-height: 1.6em;
  background-color: #f7f7f7;
}
section {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 25px;
}
h1 {
  font-size: 28px;
  font-weight: 500;;
}
h1 span {
  color: #ff5151;
}
.tab-container input[name=tabmenu] {
  display: none;
}
.tab-btns {
  margin: 40px 0 35px;
}
.tab-btns label {
  font-size: 20px;
  color: #777;
  font-weight: 300;
  padding-bottom: 12px;
  margin-right: 25px;
}
.tab-content {
  width: 100%;
  font-size: 0;
}
.tab-content li {
  display: inline-block;
  width: 32.3%;
  margin-right: 1.5%;
  vertical-align: top;
  height: 207px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 12px 30px 12px 12px;
  padding: 25px 25px 40px;
  position: relative;
}
.tab-content li:last-child {
  margin-right: 0;
}
.text-box p {
  font-size: 14px;
  color: #777;
  line-height: 1.4em;
}
.text-box .tag {
  display: inline-block;
  background-color: #ffedcb;
  padding: 4px 18px;
  border-radius: 15px;
  color: #555;
}
.text-box h4 {
  font-size: 20px;
  margin: 15px 0 10px;
  font-weight: 500;
}
.tab-content li img {
  height: 55px;
  position: absolute;
  right: 25px;
  bottom: 40px;
}
.tab-content li:hover img {
  animation: hover 0.7s linear infinite;
}
@keyframes hover {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* Tab */
.tab-content {
  display: none;
}
input[id=tab1]:checked ~ .content1,
input[id=tab2]:checked ~ .content2,
input[id=tab3]:checked ~ .content3,
input[id=tab4]:checked ~ .content4 {
  display: inline-block;
}
input[id=tab1]:checked ~ .tab-btns label[for=tab1],
input[id=tab2]:checked ~ .tab-btns label[for=tab2],
input[id=tab3]:checked ~ .tab-btns label[for=tab3],
input[id=tab4]:checked ~ .tab-btns label[for=tab4] {
  color: #222;
  font-weight: 500;
  border-bottom: 2px solid #222;
}