* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  color: #212121;
  font-weight: 300;
}
a {
  text-decoration: none;
  color: #212121;
}
ul li {
  list-style: none;
}
section {
  width: 1100px;
  margin: 30px auto 50px;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 20px;
  font-weight: 400;
}
.items {
  font-size: 0;
  padding: 0;
}
.item {
  font-size: 16px;
  text-align: center;
  display: inline-block;
  width: 31.3%;
  margin-right: 3%;
  background-color: rgb(0, 132, 255);
  vertical-align: top;
  color: #fff;
  position: relative;
}
.item:nth-child(2) {
  background-color: #2d54f1;
}
.item:nth-child(3) {
  background-color: rgb(125, 23, 220);
}
.item:last-child {
  margin-right: 0;
}
.item_box h4 {
  font-size: 20px;
  font-weight: 400;
  margin: 25px 0 15px;
}
.item_box .item_box_tit_small {
  font-size: 18px;
}
.item_box .btns {
  font-size: 0;
  padding: 0;
}
.item_box .btns li {
  font-size: 16px;
  display: inline-block;
}
.item_box .btns li a {
  color: #fff;
  display: block;
  width: 100px;
  line-height: 35px;
  margin: 0 5px 25px;
  background-color: rgba(0,0,0,0.35);
}
.item_box .btns li a:hover {
  text-decoration: underline;
}
.item .item_desc {
  display: none; /* 기본 설정 보이지 않게 */
  position: absolute;
  background-color: #fff;
  border: 3px solid rgb(0, 132, 255);
  color: #212121;
  padding: 6px;
  box-sizing: border-box;
}
.item:nth-child(2) .item_desc {
  border: 3px solid #2d54f1;
}
.item:nth-child(3) .item_desc {
  border: 3px solid rgb(125, 23, 220)
}
.item:hover .item_desc {
 display: block; /* hover시 드롭다운 */
}
.item_desc ul {
  background-color: #eee;
  text-align: left;
  padding: 15px;
  font-size: 15px;
}
.item_desc ul li::before {
  display: inline-block;
  content: '';
  width: 4px;
  height: 1px;
  background-color: #212121;
  vertical-align: middle;
  margin-right: 5px;
}